.cuerpoEstilo {
    overflow-x: hidden;
    background-image: url(materialGrafico/fondoColor.png);
    position: relative;
    left: 5px;
}

header{
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    margin: 10px 10px 0 10px;
}

nav {
    position: absolute;
    top: 75px;
    right: 0px;
}

#cabeceraLogo{
    display: inline;
    position: relative;
    right: 0%;
    top: 15px
}


.headerList {    
    font-family: 'Nunito', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    padding-right: 25px;
}

nav li {
    display: inline;
    margin: 0, 0, 0, 20px;
    position: relative;
    top: 0;
    left: 0;
}

nav a {
    text-transform: uppercase; /*convierte el texto todo a mayúscula*/
    color: black;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover{
    font-weight: 500;
}

nav a:active{
    background-color: #6FBB64;
    color: white;
}

header {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

/*-------------------------------------------Aquí se empieza a agregar código-------------------------------------------*/

main {
    width: 940px;    
    font-family: 'Nunito', sans-serif;
    font-family: 'Outfit', sans-serif;
    margin: 0 auto;
}

form {
    margin: 40px 20px;
    position: relative;
    left: 5%;
}

form label, form legend {
    display: block;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.inputPrimerizo {
    display: block;
    margin: 0 0 10px 0;
    padding: 5px;
    width: 50%;
    resize: none;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}

.etiquetaContacto {
    color: white;
}

.checkbox-suscripcion{
    margin: 20px 0;
}

.radio-opcion{
    font-size: 16px;
    color: white;
}

/*EL ATRIBUTO TRANSITION LE BRINDA UN TIEMPO DE CAMBIO A LOS EFECTOS DE LA PSEUDOCLASE*/
.inputSubmit{
    border-radius: 5px;
    border: 2px solid black;
    font-family: 'Nunito', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    width: 20%;
    padding: 5px 0;
    cursor: pointer;
    position: relative;
}

/*TRANSFORMA BRINDA UN CAMBIO AL COMPORTAMIENTO DE UN ELEMENTO, PARA VARIOS TRANSFORM ES EN UNA LÍNEA*/
.inputSubmit:hover{
    background-color: orange;
    color: white;
    border: 2px solid white;
    transition: 0.5s;
}

/*---------------------------------------------Aquí se termina de agregar código----------------------------------------*/

.cuadroPie {
    width: 100%;
    height: 25%;
    position: relative;
    top: 72.5%;
    text-align: center;
    vertical-align: bottom;
    background-image: url('materialGrafico/11382.jpg');
    padding-bottom: 15px;
}

.textoCopyright {
    font-family: monospace;
    font-weight: bold;
    font-size: 11px;
    margin-top: 20px;
}
